<!-- Validation failure messages -->
<% if @task_occurrence.errors.any? %>
<% @task_occurrence.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>



<div class="page-header">
  <h3>Complete - <%= @task_occurrence.task.name %></h3>
</div>

<div class="row">
  <div class="col-md-12" style="font-size: 16px;">
    <form action="/update_task_occurrence/<%= @task_occurrence.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for complete -->
      <dl class="dl-horizontal">
              <dt>Due Date:</dt>
         <dd><%= @task_occurrence.task_next_date.strftime("%m/%d/%Y") %></dd>
          <dt>Complete:</dt>
          <dd><% if @task_occurrence.complete == true %>
            Yes
            <% else %>
            No
            <% end %>
          </dd>
          <dt>Complete Date:</dt>
          <dd></dd>
          <dt>Notes:</dt>
          <dd> <textarea id="task_notes" name="task_notes" placeholder="task_notes" class="form-control" rows="3"><%= @task_occurrence.task_notes %></textarea></dd>

          <div class="form-group">
            <label for="complete_date" class="control-label">
            </label>
            <input type="hidden" id="complete_date" name="complete_date" placeholder="" class="form-control" value="<%= @task_occurrence.complete_date %>">
          </div>
<input type="hidden" id="task_next_date" name="task_next_date" placeholder="" class="form-control" value="<%= @task_occurrence.task_next_date %>">

          <div class="form-group">
            <label for="task_next_num" class="control-label">
            </label>
            <input type="hidden" id="task_next_num" name="task_next_num" placeholder="" class="form-control" value="<%= @task_occurrence.task_next_num %>">
          </div>

          <div class="form-group">
            <label for="complete" class="control-label">
            </label>
            <input type="hidden" id="complete" name="complete" placeholder="" class="form-control" value="<%= @task_occurrence.complete %>">
          </div>



          <div class="form-group">
            <label for="task_id" class="control-label">
            </label>
            <input type="hidden" id="task_id" name="task_id" placeholder="" class="form-control" value="<%= @task_occurrence.task_id %>">
          </div>

          <button class="btn btn-lg btn-success">
            Complete
          </button>

          or
          <a href="/task_occurrences/">Cancel</a>
        </form>
      </div>
    </div>


    <script type="text/javascript">
      $(function () {
        $('#datetimepicker2').datetimepicker();
      });
    </script>
