<!-- Validation failure messages -->
<% if @task_occurrence.errors.any? %>
  <% @task_occurrence.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Task Occurrence #<%= @task_occurrence.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_task_occurrence/<%= @task_occurrence.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for complete -->
      <div class="checkbox">
        <label for="complete">
          <input type="checkbox" id="complete" name="complete" value="1" <%= "checked" if @task_occurrence.complete %>>
          Complete
        </label>
      </div>

      <!-- Label and input for task_id -->
      <div class="form-group">
        <label for="task_id" class="control-label">
          Task
        </label>

        <input type="text" id="task_id" name="task_id" placeholder="Task" class="form-control" value="<%= @task_occurrence.task_id %>">
      </div>

      <button class="btn btn-warning">
        Update Task Occurrence
      </button>
      or
      <a href="/task_occurrences/<%= @task_occurrence.id %>">Cancel</a>
    </form>
  </div>
</div>
