<div class="page-header">
  <h3>Task Occurrence #<%= @task_occurrence.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Task Name</dt>
      <!--<dd><= @task_occurrence.task.id %></dd>-->
      <dt>Task Name</dt>
      <dd><%= @task_occurrence.task.name %></dd>
      <dt>Task ID</dt>
      <dd><%= @task_occurrence.task_id %></dd>
      <dt>Complete</dt>
      <dd><%= @task_occurrence.complete %></dd>




      <dt>Completed Events</dt>
      <dd>
        <ul class="list-group">
          <% @task_occurrence.task.task_occurrences.order("task_next_date ASC").each do |task_occurrence| %>
          <% if task_occurrence.complete == true %>
          <li> <%= task_occurrence.task_id %>Completed on <%= task_occurrence.complete_date %></li>
          <%else%>
          <li><%= task_occurrence.task_id %>Due5 on<%= task_occurrence.task_next_date %></li>
          <% end %>
          <% end %>
        </ul>
      </dd>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/task_occurrences" class="btn btn-primary">
        Back
      </a>
      <a href="/task_occurrences/<%= @task_occurrence.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_task_occurrence/<%= @task_occurrence.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
