<!-- Validation failure messages -->
<% if @task.errors.any? %>
<% @task.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Add Task</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_task" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
        </label>
        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @task.user_id %>">
      </div>
      <!-- Label and input for name -->
      <div class="form-group">
       <label for="name" class="control-label">Name</label>
       <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @task.name %>">
     </div>



     <!-- Label and input for date
     <div class="form-group">
      <label for="date" class="control-label">

      </label>
      <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @task.date %>">
    </div>
  -->
  Start Date:
  <div class='input-group date' id='datetimepicker1'>
    <input type='text' class="form-control" name="date" id="date" placeholder="Date">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>

  <!-- Label and input for recurrence -->
    <div class="control-group">
    <div class="controls">

        <input type="checkbox" data-toggle="collapse" data-target="#demo" id="recurrence" name="recurrence" value="1" <%= "checked" if @task.recurrence %>> Recurrence

    </div>
    <div class="controls">
      <div id="demo" class="collapse out">

        <div class="form-group">
          <label for="recurrence_frequency_period" class="control-label">
            Frequency:
          </label>

          <select name="recurrence_frequency_period" class="form-control">
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option selected value="monthly">Monthly</option>
            <option value ="yearly">Yearly</option>
          </select>

        </div>

        <!-- Label and input for recurrence_frequency_num -->
        <div class="form-group">
          <label for="recurrence_frequency_num" class="control-label">
            Every:
          </label>

          <input type="text" id="recurrence_frequency_num" name="recurrence_frequency_num" placeholder="Recurrence frequency num" class="form-control" value="<%= @task.recurrence_frequency_num %>">
        </div>

        <!-- Label and input for recurrence_end_num -->
        <div class="form-group">
          <label for="recurrence_end_num" class="control-label">
            For
          </label>

          <input type="text" id="recurrence_end_num" name="recurrence_end_num" placeholder="Recurrence end num" class="form-control" value="<%= @task.recurrence_end_num %>">
        </div>

      </div>
    </div>
  </div>





<!-- Label and input for notes -->
<div class="form-group">
  <label for="notes" class="control-label">
    Notes
  </label>

  <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @task.notes %></textarea>
</div>

<!-- Label and input for email_reminder_repeat


  <!-- Label and input for recurrence_end_period-->
    <!--<div class="form-group">
      <label for="recurrence_end_period" class="control-label">
        Recurrence end period
      </label>

      <input type="text" id="recurrence_end_period" name="recurrence_end_period" placeholder="Recurrence end period" class="form-control" value="<%= @task.recurrence_end_period %>">
    </div>


    <!-- <div class="checkbox">
      <label for="email_reminder_repeat">
        <input type="checkbox" id="email_reminder_repeat" name="email_reminder_repeat" value="1" <%= "checked" if @task.email_reminder_repeat %>>
        Email reminder repeat
      </label>
    </div>

    <!-- Label and input for email_reminder_num -->
    <!--<div class="form-group">
      <label for="email_reminder_num" class="control-label">
        Email reminder num
      </label>

      <input type="text" id="email_reminder_num" name="email_reminder_num" placeholder="Email reminder num" class="form-control" value="<%= @task.email_reminder_num %>">
    </div>

    <!-- Label and input for email_reminder -->
    <!--<div class="checkbox" type="hidden">
      <label for="email_reminder" >
        <input type="checkbox" id="email_reminder" name="email_reminder" value="1" <%= "checked" if @task.email_reminder %>>
        Email reminder
      </label>
    </div>-->
 <button class="btn btn-success">
      Create Task
    </button>
    or
    <a href="/task_occurrences/">Cancel</a>
  </form>
</div>
</div>




<!---end responsive panel example -->

<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>
