<div class="page-header">
  <h3>Task Generator - <%= @task.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
            <dt>Start Date</dt>
      <dd><%= @task.date.strftime("%m/%d/%Y")  %></dd>


 <dt>Recurrence</dt>
      <dd><%= @task.recurrence %></dd>
      <dt>Frequency</dt>
      <dd><%= @task.recurrence_frequency_period %></dd>

      <dt>Every</dt>
      <dd><%= @task.recurrence_frequency_num %>

 <% if @task.recurrence_frequency_period == "daily" %>day(s)
<% elsif @task.recurrence_frequency_period == "weekly" %>week(s)
<% elsif @task.recurrence_frequency_period == "monthly" %>month(s)
<% elsif @task.recurrence_frequency_period == "yearly" %>year(s)
<% else %><% end %>
      </dd>


      <dt>Repeating:</dt>
      <dd><%= @task.recurrence_end_num %> times</dd>

 <dt>Notes:</dt>
      <dd><%= @task.notes %></dd>






    <dt>Log:</dt>
  <dd>
      <ul class="list-group">
        <% @task.task_occurrences.order("task_next_date ASC").each do |task_occurrence| %>
        <% if task_occurrence.complete == true %>
        <li class="list-group-item">Completed on <%= task_occurrence.complete_date.strftime("%m/%d/%Y") %>    Notes:<%= task_occurrence.task_notes %><a href="/task_occurrences/<%= task_occurrence.id %>" class="btn btn-primary btn-xs"> Show </a>
                  <a href="/delete_task_occurrence/<%= task_occurrence.id %>" class="btn btn-danger btn-xs" rel="nofollow"> Delete </a></li>
          <%else%>
          <li class="list-group-item">  <a href="/task_occurrences/<%= task_occurrence.id %>/edit" class="btn btn-success  btn-xs"><i class="fa fa-square-o"></i></a> Due on <%= task_occurrence.task_next_date.strftime("%m/%d/%Y") %>  Notes:<%= task_occurrence.task_notes %><a href="/task_occurrences/<%= task_occurrence.id %>" class="btn-primary btn-xs">Show</a>
                   <a href="/delete_task_occurrence/<%= task_occurrence.id %>" rel="nofollow" class="btn-danger btn-xs">Delete</a></li>
            <% end %>
            <% end %>
          </ul>
        </dd>
    </dl>





    <div class="btn-group btn-group-justified">
      <a href="/tasks" class="btn btn-primary">
        Back
      </a>
      <a href="/tasks/<%= @task.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_task/<%= @task.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
